*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/src/main/java/com/aucc/game/util/Constants.kt
/app/build.gradle
/app/google-services.json